body {
    font-family: Roboto, 'Sans-Serif';
}

.header {
    background-color: #1F2937;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px;
    margin-top: 0;
    margin-bottom: 75px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.home-splash-text h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    margin-bottom: 8px;
}

.home-splash-text p {
    margin: 0;
    margin-bottom: 8px;
}

.home-splash-text p, ul, button {
    font-size: 18px;
    color: #E5E7EB;
}

.home-splash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 75px;
}


.home-splash img {
    aspect-ratio: 16 / 9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    padding: 8px;
}

button {
    background-color: #3882F6;
}

.middle h2 {
    font-size: 36px;
    color: #1F2937;
    font-size: 900;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.modal {
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}
